<% include header %>


<a href="/"><img class="logo" src="http://sarahgargano.com/wp-content/uploads/2013/10/surface-logo.png"></a>
<section>

    <h2 class="titel">
      <%- item.titel %>
    </h2>
    <img src="/img/<%- item.afbeeldingl %>" alt="<%- item.titel %>">
    <br>
    <p class="datum"><%- item.datum %></p>
    <br>
    <p>
      <%- item.body %>
    </p>
    <br>
    <p>
      <% for (var i = 0; i < item.categorieen.length; i++) { %>
        <a class="mentioned" href="/categorieen/<%- i %>"><%- item.categorieen[i] %></a><% if (i+1< item.categorieen.length){ %>, <% } %>
      <% } %>
    </p>
</section>

<% include footer %>
